{% extends 'base.html' %}

{% block content %}

<style>
  .section-break {
    display: flex;
    justify-content: center;
    color: white;
    /* rgb(24, 6, 54); */
    font-size: 1.5em;
    font-weight: 700;
  }

  .card-text-title {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1.2;
  }

  #stock-chart {
    background-color: #212529;
  }
</style>


{% include 'stock-card.html' %}


{% if ticker != "Error..." %}
{{ ticker|json_script:'name' }}
{% endif%}
<div class="section-break">
  <span>
    Stock History of {{api.companyName}}
  </span>

</div>
<br>
<br>
<div id="stock-chart" style="width: 85%;margin:auto ;"></div>
</br>
</br>
<div class="section-break">
  <span>
    Stock Trend Prediction (till 2025)
  </span>

</div>
<br>
<br>
<div id="forecast" style="margin-left:100px;padding: 0px"></div>


<h1 style="color: #1f2022a4;"></h1>
{% load static %}


<!-- <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
<!-- <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script> -->
<script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
<script>

  window.onload = function () {
    var ticker = JSON.parse(document.getElementById('name').textContent);
    chart = JSON.parse("{{chart | escapejs}}");
    forecast = JSON.parse("{{forecast | escapejs}}");
    chart.layout.paper_bgcolor = '#161a1d'
    chart.layout.plot_bgcolor = '#161a1d'
    forecast.layout.paper_bgcolor = '#161a1d'
    forecast.layout.plot_bgcolor = '#161a1d'
    Plotly.newPlot('forecast', forecast['data'], forecast['layout']);

    Plotly.newPlot('stock-chart', chart['data'], chart['layout']);


  }

</script>

</br>
</br>

<div id="stockChartContainer" style="color:green; height:400px; width: 100%;"></div>
<div
  style="margin-top:16px;color:dimgrey;font-size:9px;font-family: Verdana, Arial, Helvetica, sans-serif;text-decoration:none;">
</div>

<br><br>

<style>
  .row {

    display: flex;
  }

  .col {
    font: 20px;
  }
</style>


{%if news%}
<h3>News feed</h3>
<br>
<br>

{% for item in news %}
<div class='row'>
  <div class="col" style="flex: 20%;align-content: center;">
    {%if item.image %}
    <img src="{{item.image}}" style="width: 150px;height:150px;" alt="Image not found"
      onerror="this.onerror=null;this.src='quotes/assets/not_found.jpg'" />

    {%endif%}
  </div>
  <div class="col" style="flex: 80%;">
    <a href="https://cloud.iexapis.com/v1/news/article/025489df-d099-48c4-a2d1-7fe91ebddbf0">
      <h5>{{item.headline}}</h5>
    </a>
    <h6>source:{{item.source}}</h6>
    <h6>{{item.summary|truncatechars:500}}</h6>
  </div>
</div>
<hr>
<br>


{% endfor%}
{%endif%}
{% endblock%}